SERVER_ADDR=localhost:9090
API_KEY=a74bcebc-f383-4679-b2cf-f5a68110ce71

DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=data-processing-pipeline
DB_PORT=5432
DB_SSLMODE=disable

WORKER_ADDR=localhost:9091
WORKER_URL=http://localhost:9091

# Optional environment variables

# DOCKER_DB_HOST=db
# DOCKER_SERVER_ADDR=0.0.0.0:9090
# DOCKER_WORKER_ADDR=0.0.0.0:9091
# DOCKER_WORKER_URL=http://worker:9091